* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  * {
    scrollbar-width: thin;
    scrollbar-color: #606060 #dddddd;
  }

  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #dddddd;
  }

  *::-webkit-scrollbar-track:hover {
    background-color: #dddddd;
  }

  *::-webkit-scrollbar-track:active {
    background-color: #dddddd;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #606060;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
  }

  *::-webkit-scrollbar-thumb:active {
    background-color: #909090;
  }
}

body {
  font-size: rem(16px);
  margin: 0;
  max-width: 1173px;
  // margin: 0 250px;
  margin: 0 auto;
  font-family: Comfortaa-Regular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.6em;
  line-height: 1;
}

// main, footer ,section{
//     padding: 5px 0px;
// }

img {
  width: 100%;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul.with-dots li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $emerald_green; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
