// Colors
$emerald_green: #44de87;
$pearl_white: #f0f0f0;
$white: #fff;
$black: #000;
$charcoal: #222;
$mint_mist: #e8f6f0;
$silver_cloud: "#c3c3c3";
$icy_aqua: #d9f2f9;
$silver_gray: #a4a4a4;
$sand_dollar: #f2ebd9;
$tranquil_turquoise: #d4eee2;
$misty_lavender: #e9ecf4;
$blush_pink: #f4eaea;
$azure_mist: #d9f2f9;
$creamy_beige: #f2ebd9;
$raspberry_sorbet: #f74b81;
$slate_gray: #a3a3a3;
$black_smoke: rgba(0, 0, 0, 0.25);
$jungle_green: #27ca7d;
$sky_blue: #67bcee;
$light_charcoal: #c2c2c2;
$translucent_ebony: rgba(0, 0, 0, 0.2);
$shadowy_charcoal: rgba(255, 255, 255, 0.4);
$moonstone_grey: #c9c9c9;
$silver_mist: #c7c8ca;
$baby_blue: #aeedef;
$apricot: #f09d62;
$dim_charcoal: rgba(0, 0, 0, 0.122);
$dark_transparency: rgba(0, 0, 0, 0.26);
$red: #ff0000;
$medium_gray: #aaa;
$inky_veil: rgba(0, 0, 0, 0.2);
$subdued_shadow: rgba(0, 0, 0, 0.14);
$gentle_silhouette: rgba(0, 0, 0, 0.12);
$petal_pink: #fdeded;
$crimson_red: #d32f2f;
$mahogany_red: #5f2120;
$emerald_oasis: #3fb67e;
$flame_red: #ea3323;
$platinum_gray: rgba(224, 224, 224, 1);
$shadowy_midnight: rgba(0, 0, 0, 0.36);
$gentle_black_veil: rgba(0, 0, 0, 0.23);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
